body{
    /* background: #292931; */
    background:url('/styles/img/logo.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.logo {
    color: rgb(0, 238, 255);
    font-family:  sans-serif;
    font-size:200;
    vertical-align: middle;
}
.login-page{
    width:360px;
    padding: 10% 0 0;
    margin:auto;
}
.form{
    position: relative;
    z-index: 1;
    backface-visibility: 100%;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
}

.form input{
    font-family:sans-serif;
    outline: 1;
    background: indigo;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15%;
    box-sizing: border-box;
    font-size: 14px;
}
.form button{
    font-family: sans-serif;
    text-transform: uppercase;
    outline:0;
    background: #129faf;
    width:100%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
}




